.container {
  height: 50vh;
  width: 100%;
  position: fixed;
  bottom: 0;

  background-color: var(--secondary-text);
  z-index: -1;
}

.colContainer {
  position: absolute;

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rightCol {
  width: 20%;
  margin-top: 100px;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.leftCol {
  width: 20%;
  margin-top: 100px;
  display: flex;
}

.logos {
  height: 50px;
  width: 50px;
  fill: var(--background-main);
  stroke-width: 1px;
  stroke: var(--background-main);
  transition: all 0.3s;
}

.logos:hover {
  scale: 1.1;
}
