.flexContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;

    position: relative;
    overflow: hidden;

    margin: 50px auto;
}

.flexRow{
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-width: 600px;
    gap: 10%;
}

.flexCard{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    margin: 50px 0;
}

.imageContainer{
    height: 400px;
    width: auto;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), transparent 100%);
}

.picture{
    width: 100%;
    height: 100%;
    object-fit: contain;
    scale: 1;

    transition: all 0.2s;
}

.picture:hover{
    scale: 0.9;
    transition: all 0.2s;
}

.content{
    margin: 25px 0;
    color: var(--secondary-text);
    font-weight: 500;
}

.title{
    margin: 25px 0 0 0;
    font-weight: 500;
    font-size: 1.4rem;
}


