.sectionContainer{
    height: auto;
    width: 100%;

    color: white;
    margin-bottom: 5%;
    border: solid 2px red;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.caption{
    padding: 40px 0 0 10%;
    
    color: rgb(150, 150, 150);

    max-width: 520px;
    font-weight: 500;
}

