.cardContainer{
    color: white;
    margin-bottom: 5%;
    border: solid 2px red;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cardContainer > div{
    max-width: 520px;
    font-weight: 500;
}

.cardContainer > iframe{
    width: 80vw;
    height: calc(80vw * 0.5625)
}

.caption{
    padding: 40px 0 0 10%;

    font-weight: 600;
    color: rgb(150, 150, 150);
}

