.scrollArea {
  height: 400vh;
  position: relative;
}

.sectionContainer {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: var(--background-main);
}

.scrollContainer {
  display: flex;
  width: fit-content;

  gap: 1rem;

  margin: 50px 10%;
}

.scrollCard {
  flex: 0 0 80vw;
  height: 80vh;

  overflow: hidden;
  position: relative;

  border-radius: 20px;
}

.cardBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;

  scale: 1.2;
  transition: all 0.3s;
}

.scrollCard:hover .cardBackground {
  scale: 1.1;
  transition: all 0.4s ease-out;
}

.gradientOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, black, transparent 40%);
  transition: all 0.4s;
}

.scrollCard:hover .gradientOverlay {
  opacity: 0;
}

.textOverlay {
  width: 40%;
  height: auto;

  position: absolute;
  bottom: 10%;
  right: 5%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.4s;
}

.scrollCard:hover .textOverlay {
  opacity: 0;
}

.mainText {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.subText {
  font-weight: 600;
  margin-top: 25px;
  color: var(--secondary-text);
}
