.scrollArea{
    height: 400vh;
    position: relative;
}

.sectionContainer{
    position: sticky;
    top: 0;
}

.scrollContainer{
    display: flex;
    width: 100%;
    height: auto;

    gap: 10%;

    overflow-x: visible;

    margin: 50px 0;
}

.scrollCard{
    min-width: 70vw;
    height: calc(70vw * 0.5625);

    overflow: hidden;
    position: relative;

    margin-bottom: 50px;
}

.scrollCard:nth-child(1){
    margin-left: 10%;
}
.scrollCard:nth-last-child(1){
    margin-right: 10%;
}

.scrollContainer::-webkit-scrollbar {
    background-color: var(--background-main);
    height: 15px;
  }
  
  .scrollContainer::-webkit-scrollbar-thumb {
    background: rgb(75, 75, 75);
  }


.cardBackground{
    height: 100%;
    width: 100%;
    object-fit: cover;

    scale: 1.4;
    transition: all 0.4s;
}

.scrollCard:hover .cardBackground{
    scale: 1;
}

.gradientOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, black, transparent);
}

.scrollCard:hover .gradientOverlay{
    background: linear-gradient(to top, black, transparent 25%);
}

.textOverlay{
    width: 40%;
    height: auto;

    position: absolute;
    bottom: 10%;
    right: 5%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.3s;
}

.scrollCard:hover .textOverlay{
    transform: translateX(100%);
    opacity: 0;
}

.mainText{
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.subText{
    font-weight: 600;
    margin-top: 25px;
    color: var(--secondary-text);
}





