.heroContainer{
    margin-bottom: -100vh;
}

.spacer{
    height: 100vh;
}

.Hero{
    height: 85vh;
    width: 100%;

    overflow: hidden;
    position: sticky;
    top: 0;
}

.textOverlayContainer{
    height: 40%;
    width: 100%;

    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    color: white;
}

.menu{
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 5%;
    padding: 10px;
}

button.menuItem{
    padding: 5px 12px;
    margin: 2px;
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

button.menuItem:hover,
button.menuItem:nth-child(1){
    background: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}

.rightCol{
    flex: 3;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title{
    font-size: 4rem;
    font-weight: 750;
}

.description{
    max-width: 500px;
    font-weight: 600;

    color: var(--secondary-text);
}

.ctaContainer{
    width: 50%;

    display: flex;
}

.ctaButton{
    margin-top: 15px;
    margin-right: 15px;
    padding: 10px;

    border: solid 3px white;

    cursor: pointer;
}

.ctaButton:visited {
    color: white;
    text-decoration: none;
}
.ctaButton:hover{
    background-color: white;
    color: black;
}