* {
  padding: 0;
  margin: 0;

  --background-main: rgb(25, 25, 25);
  --secondary-text: rgb(150, 150, 150);
}

html{
  background-color: var(--secondary-text);
}

.no-scroll {
  overflow: hidden;
}


