.mainContainer{
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow: hidden;

    background-color: rgb(25, 25, 25)
}

.subtitle{
    padding: 50px 0 0 10%;

    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.scrollwatcher{
    height: 10px;
    position: fixed;
    top: 0;
    background-color: lime;
    width: 100%;
    transform-origin: left;
    z-index: 100;

    scale: 0 1;
    animation: scrollwatch linear;
    animation-timeline: scroll();
}

@keyframes scrollwatch {
    to { scale: 1 1; }
}