.mainContainer{
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: var(--background-main)
}

.subHeader{
    padding: 50px 0 0 10%;
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}
.caption{
    padding: 0px 0 0 10%;

    font-weight: 600;
    color: var(--secondary-text);
}