.mainContainer{
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: var(--background-main);

    z-index: 1;
    border-radius: 30px;
    margin-bottom: 40vh;
}

.subHeader{
    padding: 50px 0 0 10%;
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    background-color: var(--background-main);
    border-radius: 30px;
}

.caption{
    padding: 0px 0 0 10%;

    font-weight: 600;
    
    color: var(--secondary-text);
    background-color: var(--background-main);
}

